header {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 25px;
      font-weight: 800;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 5px;
      border: none;
      border-radius: 5px;
      background-color: transparent;
      font-size: 14px;
      cursor: pointer;
      color: inherit;

      i,
      label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

main {
  .container {
    max-width: 1200px;
    margin: 0 auto;

    /* Filter and search section */
    .countries-filter {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-container {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 15px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-container__search {
        background-color: transparent;
        border: none;
        font-size: 15px;

        &::placeholder {
          font-family: inherit;
          color: inherit;
        }

        &:focus {
          outline: none;
        }
      }

      &__dropdown {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
        max-width: 170px;
        width: 100%;

        &-button {
          cursor: pointer;
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          padding: 15px;
          border-radius: 5px;
          color: inherit;
          font-size: 15px;

          label,
          i {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }

        &-list {
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 5px;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
          display: none;

          &.active {
            display: block;
          }
        }

        &-item {
          padding: 10px 15px;
          cursor: pointer;
          &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }

    /* Countries cards section */
    .countries-container {
      .loader {
        text-align: center;
        font-size: 1.2em;
        margin: 20px;
        font-weight: bold;
      }

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin: 20px;

      .country-card {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        max-width: 275px;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .country-info {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          h2 {
            font-weight: 800;
            font-size: 18px;
            margin-bottom: 10px;
          }

          p {
            strong {
              font-weight: 600;
            }
          }
        }
      }
    }

    /* Country details screen */
    .country-details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px;

      .goBackButton {
        cursor: pointer;
        border: none;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 25px;
        border-radius: 5px;
        color: inherit;
        font-size: 15px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;

        i,
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      .country-details-info-container {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        align-items: center;
        padding: 2rem 0;

        .country-image-container {
          flex: 1;
          max-width: 500px;

          img {
            width: 100%;
            height: auto;
          }
        }

        .country-info-container {
          flex: 2;
          display: flex;
          flex-direction: column;
          gap: 3rem;

          h1 {
            font-size: 2rem;
            font-weight: bold;
          }

          .country-data-container {
            display: flex;
            gap: 3rem;
            div {
              display: flex;
              flex-direction: column;
              gap: 15px;

              p {
                strong {
                  font-weight: 700;
                }
              }
            }
          }
          .border-countries-container {
            display: flex;
            align-items: center;
            gap: 15px;
            p {
              strong {
                font-weight: 700;
              }
            }
            .borders {
              display: flex;
              align-items: center;
              gap: 10px;
              flex-wrap: wrap;
              button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                gap: 5px;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                cursor: pointer;
                color: inherit;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;

                &:hover {
                  background-color: rgba(0, 0, 0, 0.05);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .container {
      padding: 15px;
      h1 {
        font-size: 18px;
      }
      button {
        label {
          display: none;
        }
      }
    }
  }

  main {
    .container {
      .countries-filter {
        margin: 15px;

        &-container,
        &__dropdown-button {
          padding: 10px;
        }
      }

      .countries-container {
        margin: 15px;
        gap: 15px;
      }

      .country-details {
        margin: 15px;
        gap: 15px;
        .country-details-info-container {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  main {
    .container {
      .countries-filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        &-container {
          width: 100%;
          justify-content: flex-start;
        }
      }

      .countries-container {
        .country-card {
          img {
            height: 250px;
          }
        }
      }

      .country-details {
        .country-details-info-container {
          .country-image-container {
            max-width: none;
            width: 100%;
          }
          .country-info-container {
            .country-data-container {
              flex-direction: column;
            }

            .border-countries-container {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
}
